.cross-btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-page {
  min-height: 75vh;
}

.tab-item {
  &.active {
    background: #0d6efd;

    .nav-link {
      color: #fff;
    }
  }

  .nav-link:not(.active):hover {
    color: black;
  }
}