.image-upload {
  position: relative;
}

.image-upload__img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.image-upload__label {
  cursor: pointer;
  min-width: 100%;
}

.image-upload__input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.image-upload__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}