.input {
  position: relative;
}

.input__item-wrap {
  display: block;
  position: relative;
  width: 100%;
}

.input__error {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 10px;
  color: red;
}