.logo__img {
  width: auto;
  height: calc(1.9rem + 1px);
}

.admin-logo {
  left: 0;
}

.logo__img-wrap {
  display: flex;
  justify-content: center;
}

.admin-sidebar {
  padding: 25px;
}

.admin-header {
  height: calc(3.5rem + 1px);
}

.admin-user__icon {
  margin-right: 10px;
}

.admin-header__content {
  display: flex;
  align-items: center;
}

.custom-control-label {
  cursor: pointer;
}

.admin__switch-wrap {
  display: flex;
  justify-content: flex-end;
}

.admin__form-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}